</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width: 480px)" href="../static/css/aboutus_pc.css">
  <link rel="stylesheet" media="(max-width: 480px)" href="../static/css/aboutus_mobile.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">TOP</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>


<div class="titleneon">
<span>About us</span>
</div>
<div class="box">


<h1>学実とは?</h1>
<p class="intro">
  通常の学校でいう文化祭実行委員会の略『文実』と同じで、学芸大会実行委員会の略が『学実』です。中学１年生～高校２年生まで合わせて１２０人以上のメンバーで構成されています。その沢山のメンバーが９部署に分けられ興風祭当日に向けて約１年間活動します。

<img src="../static/pictures/B8E8C170-B00B-48C8-A4D8-758BF4A3C88E.jpg" class="toppict">

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>総務</h2>
      <p class="text">
        総務は学実、そして興風祭全体を統括している部署。全体の方針を決めたり、先生方と生徒への連絡の架け橋をしたり、各部署にアドバイスしたり、有志団体や各部活の手助けをしたりなど活動は多岐に渡る!

        <br><b>『興風祭全体のリーダー的存在』</b>
    </section>
  </div>
  <img src="../static/pictures/soumu.jpg" class="picture">


</div>
<details open>
    <summary>活動風景</summary>
    <div class="act">
      <img src="../static/pictures/S__23568433.jpg" class="pict">
      <img src="../static/pictures/S__23568435.jpg" class="pict">
      <img src="../static/pictures/S__23568439.jpg" class="pict">
      <iframe width="949" height="534" src="https://www.youtube.com/embed/AxBZd5cVxXU?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</details>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>門</h2>
      <p class="text">
        基本的な仕事はただ１つ、当日までに門を完成させること!　毎年パリの「凱旋門」のような人を感動させられるような門を作ることを目指している!
        <br><b>『来場、入場時、客の心を鷲づかみ』</b>

  </div>
  <img src="../static/pictures/mon.jpg" class="picture">
</div>
<details open>
    <summary>活動風景</summary>
    <div class="act">
      <img src="../static/pictures/S__23568421.jpg" class="pict">
      <img src="../static/pictures/S__23568422.jpg" class="pict">
      <img src="../static/pictures/S__23568423.jpg" class="pict">
      <img src="../static/pictures/S__23568424.jpg" class="pict">
      <iframe width="789" height="444" src="https://www.youtube.com/embed/idFW49R6eyk?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</details>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>噴水</h2>
      <p class="text">
基本的な仕事はただ１つ、当日までに噴水を完成させること!　毎年イタリアの「トレヴィの泉」のような人を感動させられることの出来る噴水を作ることを目指している!
<br><b>『校庭の中心で在校生のナ〇パをお助け!?』</b>

    </section>
  </div>
  <img src="../static/pictures/hunsui.jpg" class="picture">
</div>
<details open>
    <summary>活動風景</summary>
    <div class="act">

      <img src="../static/pictures/S__23568429.jpg" class="pict">
      <img src="../static/pictures/S__23568430.jpg" class="pict">
      <img src="../static/pictures/S__23568431.jpg" class="pict">
      <img src="../static/pictures/S__23568432.jpg" class="pict">
      <img src="../static/pictures/S__23568426.jpg" class="pict">
      <img src="../static/pictures/S__23568428.jpg" class="pict">
      <iframe width="789" height="444" src="https://www.youtube.com/embed/ObSrsu_ccCc?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</details>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>校内装飾</h2>
      <p class="text">
        基本的な仕事は、当日までに門や噴水以外の校内の装飾を完成させること! ステージ裏の看板を作ったり、ゴミ箱を鮮やかにしたり、巨大垂れ幕を作ったり...　作るものがとても多い為毎年多くの部署から手伝いが来るのが伝統だ!　
        <br><b>『興風祭全体の雰囲気作りを担う』</b>
    </section>
  </div>
  <img src="../static/pictures/kounai_sousyoku.jpg" class="picture">
</div>
<details open>
    <summary>活動風景</summary>
    <div class="act">
      <img src="../static/pictures/AB0FAB18-C032-4432-83C8-D9E88A8CA142.jpg" class="pict">
      <img src="../static/pictures/9909A891-069D-47C6-827A-7B81CACBB1D7.jpg" class="pict">
      <iframe width="789" height="444" src="https://www.youtube.com/embed/KuEh79Bu908?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</details>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>イベント</h2>
      <p class="text">
        本校名物の大迫力ステージイベントに関わる全てを取り仕切る。各企画を決めたり、演者の活動を取り仕切ったり、音響業者と話し合ったり、司会台本をまとめる。
        <br><b>『興風祭名物ステージイベントの縁の下の力持ち』</b>

    </section>
  </div>
  <img src="../static/pictures/event.jpg" class="picture">
</div>
<details open>
    <summary>活動風景</summary>
    <div class="act">
  <img src="../static/pictures/S__23568389.jpg" class="pict">
  <img src="../static/pictures/S__23568392.jpg" class="pict">
  <img src="../static/pictures/S__23568391.jpg" class="pict">
  <img src="../static/pictures/S__23568393.jpg" class="pict">
  <iframe width="789" height="444" src="https://www.youtube.com/embed/XuBrkz_g19A?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</details>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>物品</h2>
      <p class="text">
基本的な活動は、 各団体にパネルや暗幕などの様々な物品を貸し出し、それを管理すること。本番２日前の『搬出入の日』には貸し出した物品の物流を取り仕切る為大忙し。
<br><b>『各団体が欲しいものをたくさん貸し出し』</b>
    </section>
  </div>
  <img src="../static/pictures/buppin.jpg" class="picture">
</div>
<details open>
    <summary>活動風景</summary>
    <div class="act">
      <img src="../static/pictures/S__23568394.jpg" class="pict">
      <img src="../static/pictures/S__23568397.jpg" class="pict">
      <img src="../static/pictures/S__23568398.jpg" class="pict">
      <img src="../static/pictures/S__23568399.jpg" class="pict">
      <img src="../static/pictures/S__23568396.jpg" class="pict">
      <iframe width="789" height="444" src="https://www.youtube.com/embed/20XAZqs-FgA?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</details>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>搬出入</h2>
      <p class="text">
        基本的な活動は、各団体が使用する机や椅子、教壇などの数の管理をすること。本番２日前の『搬出入の日』には階段を行ったり来たりして大忙し。階責（階の責任者）や階総責（その棟の責任者）には声のでかさが求められる!
        <br><b>『各団体のスムーズな準備を支える』</b>

    </section>
  </div>
  <img src="../static/pictures/hansyutunyu.jpg" class="picture">
</div>
<details open>
    <summary>活動風景</summary>
    <div class="act">
      <img src="../static/pictures/S__23568405.jpg" class="pict">
      <img src="../static/pictures/S__23568406.jpg" class="pict">
      <img src="../static/pictures/S__23568407.jpg" class="pict">
      <img src="../static/pictures/S__23568408.jpg" class="pict">
      <iframe width="789" height="595" src="https://www.youtube.com/embed/a1ZaXev5eko?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</details>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>プログラム</h2>
      <p class="text">
        基本的な活動はパンフレットを作ること。毎年、５０ページ近くにも及ぶフルカラフルパンフレットを作る。パソコンやデザインの知識が豊富な精鋭達が集まる!
        <br><b>『パンフレット制作専門家集団』</b>

    </section>
  </div>
  <img src="../static/pictures/program.jpg" class="picture">
</div>
<details open>
    <summary>活動風景</summary>
    <div class="act">
      <img src="../static/pictures/S__23568400.jpg" class="pict">
      <img src="../static/pictures/S__23568402.jpg" class="pict">
      <img src="../static/pictures/S__23568403.jpg" class="pict">
      <img src="../static/pictures/S__23568404.jpg" class="pict">
    <iframe width="949" height="534" src="https://www.youtube.com/embed/OadXPp4FT4Y?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</details>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>食品</h2>
    <p class="text">
基本的な活動は当日模擬店（様々な食品が販売される所）の管理。その他にも、新メニューを考えたり、メニュー表を作成したり、外部の食品業者と交渉したりする。当日は客の状況を見ながら販売価格を変えるなど売り残しがないように常に先のことを考える必要がある!
<br><b>『来場者が安全に胃袋を満たすのを助ける』</b>

  </section>
</div>
<img src="../static/pictures/syokuhin.jpg" class="picture">
</div>
<details open>
  <summary>活動風景</summary>
  <div class="act">
    <img src="../static/pictures/S__23568409.jpg" class="pict">
    <img src="../static/pictures/S__23568410.jpg" class="pict">
    <img src="../static/pictures/S__23568411.jpg" class="pict">
    <img src="../static/pictures/S__23568413.jpg" class="pict">
    <img src="../static/pictures/S__23568414.jpg" class="pict">
    <img src="../static/pictures/S__23568415.jpg" class="pict">
    <iframe width="789" height="444" src="https://www.youtube.com/embed/YG7lPMx1wyI?list=PL7EEmMNm89-ZsPyQ8qLKim2cutqI0Ei0b" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</details>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>生徒参加型企画</h2>
    <p class="text">
      今年のテーマSPARKLE（輝き）にちなんで、生徒全員による巨大パネルの作成をしました‼（パネルは縦２ｍ、横７ｍの超巨大サイズです）
      <br>作成は基本的に学実の中１と総務部署で行い、当日生徒によるメッセージの書き込みが行われました。

  </section>
</div>
<img src="../static/pictures/S__23568447.jpg" class="picture">
</div>

<details open>
  <summary>活動風景</summary>
  <div class="act">
    <img src="../static/pictures/S__23568441.jpg" class="pict">
    <img src="../static/pictures/S__23568443.jpg" class="pict">
    <img src="../static/pictures/S__23568444.jpg" class="pict">
    <img src="../static/pictures/S__23568445.jpg" class="pict">
    <img src="../static/pictures/S__23568446.jpg" class="pict">

  </div>
</details>




<div class="contentcontainer">
  <div class="contentchild">
    <h2>新企画座談会</h2>
    <p class="text">
      過去の興風祭委員長にこれまでの興風祭に関する様々な事をインタビューしました。どういう思いで１年間活動してきたのか。その中で印象的なこと、そして、学実活動で学んだことを沢山聞きました。生徒が調理出来た!? ステージは元々体育館でやっていた!?
      <br>など、初めて聞く秘話も多いかも!?
      <div class="contentchild clubinfo">
        <a href="https://drive.google.com/file/d/1v_7AC6etMAkOQ6vt1Nymy8OLkyBXflS0/view?usp=sharing" class="clubcontent"><h3>pdf</h3></a>
    </div>
</div>
<iframe class="zadankai" width="760" height="315" src="https://www.youtube.com/embed/EFJWal2E61M?list=PL7EEmMNm89-bBYQmUg4IGP5It3fu5P8wX" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



</div>

</body>

</style>

</html>
