</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width: 600px)" href="../static/css/index_pc.css">
  <link rel="stylesheet" media="(max-width: 600px)" href="../static/css/index_mobile.css">
  <meta property="og:title" content="KOFU2020 Sparkle">
  <meta property="og:image" content="../static/pictures/linelogo.jpg">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

  <div class="box">
    <div class="title">
    <h3>本年度の開催は終了いたしました。<br>ご来場頂きました方々、誠にありがとうございました。</h3>
    </div>

  <!--
      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                  <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                  <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                  <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                  <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div>
      </nav>
      <div class="hero"></div>

      <div class="twitter">
          <a href="https://twitter.com/KofuFes_2020"><img  src="../static/pictures/sns_twitter.png" class="twicon"></a>
      </div>

      <div class="instagram">
          <a href="https://www.instagram.com/kofufes_2020/?igshid=1gbitkfsppm2r"><img  src="../static/pictures/glyph-logo_May2016.png" class="instaicon"></a>
      </div>



  <div class="entrance">
    <img class="picture" src="image0.png" class="entranceback">
    <div  class="textop"><span class="kou">興</span><span class="huu">風</span><span class="sai">祭</span></div>
  </div>




<div class="box">
  <div class="titleneon">
  <span>Sparkle</span>
  </div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>学実委員長より</h2>
    <p class="text">
      ついに興風祭のオンライン配信が始まりました。コロナ禍で生徒以外の方々には当日来場していただくことができませんでしたがオンライン配信という機会を設けることができ、皆さんに生徒の努力の結晶を見て頂けることを本当に嬉しく思っています。様々な人の努力、協力のもと実施することができたこのオンライン興風祭、隅々まで見て楽しんでいってください!<br>ー鈴木順星ー
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/iintyo.jpg">
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>生徒会長より</h2>
    <p class="text">
      オンライン興風祭へようこそ!
      <br>１０月に開催された興風祭に来ることが出来ず、残念な思いをしている方が大勢いることでしょう。しかし、このオンライン興風祭では、興風祭では出来ない事が経験出来ます。普段であれば、各団体やステージなど全てを回ることは難しいですが、オンラインであれば可能です。そしてPCPが作成した校内を自由に歩き回れるVR空間があります。
      <br>興風祭後も学実やPCPを始めとする多くの生徒がこのオンライン文化祭に向けて頑張ってきました。是非ともこの素晴らしいオンライン興風祭をお楽しみください!
      <br>ー宮田歩武ー
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/kaityo.jpg">
</div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>ページ制作者より</h2>
    <p class="text">
    ウェブページの製作に携わらせていただいた寺島です。残念ながら外部の方々を実際に招いての開催はできませんでしたが、このような形であっても中止にせず、皆様に在校生の努力をお届けすることができ、製作者冥利につきます。
    <br>また、在校生の方々、自分の思い付きのような企画にお付き合いいただきありがとうございます。是非とも皆様のご親族、友人の方々にこのサイトを皆様の功績として誇っていただけますと光栄です。
    <br>それでは皆様、オンライン興風祭をお楽しみください。
    <br>ー寺島凜汰朗ー
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/seisakusya.png">
</div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>テーマについて</h2>
    <p class="text">
      今年のテーマ”SPARKLE”には様々な意味が込められています。輝き、きらめき、閃光などが主な意味です。そのテーマの下、生徒だけでなく、お客さんも輝けるような興風祭作りを心掛けてきました。是非皆さん僕らと共に輝きましょう!!
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/logo.png">
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの使い方</h2>
    <p class="text">
      本サイトには各団体の情報をまとめたPDF、PV、３６０°動画、をまとめたInformationのページと学祭実行委員のデータをまとめたAbout usのページ、団体のスキャンデータを掲載しているVirtualのページが存在します。それぞれに団体の努力が詰まった作品となっていますのでぜひお楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604749551785.jpg">
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>校長より</h2>
    <p class="text">
      本校の文化祭は「興風祭」と称され、長い歴史を有し、毎年秋に行われる本校最大の行事です。この興風祭では、高校２年生が中心となり、多数の生徒が自分たちのアイディアを形にすべく、準備に汗を流し、その出来上がった成果を広く社会の皆様方にご覧頂くことになっております。こうした活動が、生徒の自主性・創造性・能動性などを育む絶好の機会であることは言うまでもありません。
      <br>しかしながら、本年は、新型コロナウイルスに対する防疫措置として、非常に残念ではありますが、多くの方々のご来校をお断りせざるをえない事態となっております。しかし、生徒たちは、例年と変わらず、興風祭の準備に多くの力を注いでまいりました。ご覧頂く方法はやや変則的かも知れませんが、是非とも生徒たちの努力の軌跡を感じ取って頂きたくお願い申し上げます。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/koutyo.jpg">
</div>
</div>






<h9>
こうめい
</h9>
</div>

<footer>&copy Waseda high&junior high school ed.
<p class="counter">あなたは{{count}}人目の来場者です!!!</p>

-->

</footer>
</body>

</style>

</html>
