</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

  <div class="stcontentcontainer">
    <div class="contentchild">
    <section>
      <h2>中学企画</h2>
      <p class="text">
        今年も文化祭の季節がやってきました。
        <br>今年のステージ企画は、ダンスや歌はもちろん、漫才やオタ芸、和太鼓など様々な演技の披露があります。
        <br>活動が制限される中で自分たちで工夫をし、練習を重ねてきました。
        <br>是非僕らの演技を見てください。
    </section>
  </div>
  <div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/x5c7mI1_IHU?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div class="stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>VS先生</h2>
    <p class="text">
      日頃、テストや生活指導で苦しむ生徒たち!そんな生徒たちが年に一度先生と対決ができるこの企画!今年は激辛早食い、腕相撲、気配切りと盛りだくさん!先生の意外な一面も見れるかも⁉︎両チーム気合が入っての熱い戦い!
      <br>勝負の行方はいかに⁉︎
  </section>
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/NCL-Q6KHwTs?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>Mr.&Ms.</h2>
    <p class="text">
      今年の早稲田のミスミスは一味違う!ヤンキーに原宿のギャル、お嬢様も参戦!総勢４組がさまざまなクイズやゲームで対決!毎年恒例のシチュエーション告白で全員キュンキュンすること間違いなし!この激戦を制するベストカップルは誰だ!
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/wa1j8EsLFbQ?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>


<div class="stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>早稲Fes2&フィナーレ</h2>
    <p class="text">
      興風祭２０２０を締めくくる最後の企画は早稲フェス２夜＆フィナーレ。高２にとっては最後のステージ。高校生ひとりひとりがたくさんの思いを胸にパフォーマンスします。テーマ「Sparkle」のように輝く早稲田生の姿を是非ご覧ください。
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/AHl1hX7HZE4?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>







</div>


</body>

</style>

</html>
