</<！DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><！--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>早稲田中・高吹奏楽部</h2>
      <p class="text">
        我々わせぶらは、演奏会とアンサンブル大会を開催します。わせぶらの１年の集大成となる興風祭へ向けて、部員全員が日々、並々ならぬ努力をしてきました。その努力の数々が、男らしく迫力のあるわせぶらサウンドとなって１つになる瞬間を是非、お聞き下さい！
    </section>
  </div>
  <div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-ZXRC3_bA9MtCaqRS_Bcpv8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1gRl5kyXHHcuJkjdikeNiATlv7Py5AJWG/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/B21U1MbpPQk?list=PL7EEmMNm89-ZXRC3_bA9MtCaqRS_Bcpv8" class="clubcontent"><h2>活動風景</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>弦楽部秋季定期演奏会</h2>
    <p class="text">
皆さんお待ちかねの弦楽部定期演奏会。本格的なクラシックから聞いたことのあるPOPsなどのさまざまなジャンルの曲を、バイオリンやピアノ、ギターを使って演奏します。優雅(?)な演奏を一度、聞きに来てみてはいかが?</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-aVzxLxDYv5BA7y0G6VpMiS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1zPXMBJKo1dYRcLQbB25geYlzMauc0pLu/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/FhS9ZjzOtYw?list=PL7EEmMNm89-aVzxLxDYv5BA7y0G6VpMiS" class="clubcontent"><h2>活動風景</h2></a>
  </div>
</div>










</div>


</body>

</style>

</html>
