</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>PCプログラミング部</h2>
      <p class="text">
        休校期間中でも、ＰＣプログラミング部はその輝きを失うことはなかった...なぜなら、"アットホーム"な部だからね。...ということで、今年は少し変わった興風祭を盛り上げるために、部員たちが部誌やゲームを用意しました!ぜひ見ていってくださいね!
    </section>
  </div>
  <div class="contentchild">
    <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-bx2VfDKvlZXrpGLKFE1wAX" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1BPfTDXC2omLp5aNSqRvb-IoaZ2F5C-Qy/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/Nqbd8fWENEU?list=PL7EEmMNm89-bx2VfDKvlZXrpGLKFE1wAX" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>英会話同好会</h2>
    <p class="text">
      今年の英会話は一味違う!昨年に次ぐ２作目の傑作が今年誕生しました。今年はハリーポッターのアナザーストーリーを上演します。舞台は東洋のホグワーツこと早稲田高校です。ハリーポッターを見たことがない人も楽しめるので是非見に来てください。
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-bcWTGDujABczm5KJkSNXnU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1KtfrFO03AxYk_nmLK0GazTI5lpMS2uxI/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/tTD00L10FoQ?list=PL7EEmMNm89-bcWTGDujABczm5KJkSNXnU" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>折り紙同好会</h2>
    <p class="text">
      はじめまして。我々は折紙同好会です。私たちは普段、部員同士で教え合いながら作品製作に取り組んでいます。今回の興風祭では50を超える作品が並んでいて、特に副部長を中心として作った「龍神」は１ｍを超える大作です。是非ご覧ください。
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-ZjE5YywB7hlj5z8izjSASZ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1jIQwgTBr1qrVoWSu9wSboR9qVBbbaq5s/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/mP4Pu6dWo8U?list=PL7EEmMNm89-ZjE5YywB7hlj5z8izjSASZ" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>数学研究同好会</h2>
    <p class="text">
      今年のオンライン興風祭では、挑戦問題、中学入試予想問題の問題、解答、解説（一部の問題）や、部員同士の熱き対決や数学に関する話題の対談など、盛りだくさんです!対決では映像を撮るのが初めてで慣れない事が多かったですが、若干のミスは暖かい目で見てください（笑）
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-ZVQ7A1c75l9-9WRqPp0s1L" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1mmjlDje839uj_Blqzy8i3M0c8tsid618/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/3XSWQbvACks?list=PL7EEmMNm89-ZVQ7A1c75l9-9WRqPp0s1L" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>歴史研究部</h2>
    <p class="text">
      天下布武は一人にして成らず。今年のテーマは織田信長を支えた「信長家臣団」。 鬼柴田「柴田勝家」、後の天下人「豊臣秀吉」、安土城普請奉行「丹羽長秀」、麒麟が来る「明智光秀」、彼ら家臣を通して信長の軌跡を辿る。 特別企画「感染症の歴史」も掲載。
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-aTLLWsAhcYkpwPhUfahkgn" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1S_G1uNwJJhF5H71HOx2iFjaynD9XaC5g/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/qMf26-PARoQ?list=PL7EEmMNm89-aTLLWsAhcYkpwPhUfahkgn" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>



</div>


</body>

</style>

</html>
