</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

  <div class="stcontentcontainer">
    <div class="contentchild">
    <section>
      <h2>高1企画</h2>
      <p class="text">
        今年の興風祭は通常通りの開催とはいきませんでしたが、去年を遥かに超える出来に仕上がっています!
        <br>男子校屈指のイケメン、美少女たちのキレキレのダンス、爆笑間違いなしの漫才に加え、禁断のダンスも⁉
        <br>男たちの青春の集大成を是非ご覧ください!
    </section>
  </div>
  <div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5aVjvW1hTFU?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>


<div class="stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>クイズ研究部</h2>
    <p class="text">
      今年は、外部の大会でも活躍するクイ研部員が、他の部活と早押しクイズで対決します! 問題のジャンルは部活側に合わせたものになっており、クイ研部員が早押しの技量を見せつけるか、部活側が知識で押し切るか必見です!是非ご覧下さい!
  </section>
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/KwE6KkhAsbo?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>



<div class="stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>高2企画</h2>
    <p class="text">
      コロナ禍で"興風祭ができるのか"という不安を抱えながらも各グループ日々練習を重ねてきました。紅蓮華、ＲＹＵＳＥＩなどの有名曲やアクロバット、女装といった幅広いダンスから歌、大道芸、ダブルダッチまで １２４回生の５年間の集大成をご覧ください!
  </section>
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/_gvCZ5sk63I?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>Mr.&Ms.</h2>
    <p class="text">
      今年の早稲田のミスミスは一味違う!ヤンキーに原宿のギャル、お嬢様も参戦!総勢４組がさまざまなクイズやゲームで対決!毎年恒例のシチュエーション告白で全員キュンキュンすること間違いなし!この激戦を制するベストカップルは誰だ!
  </section>
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5ZNovpPw8cE?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>



<div class="stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>ミスった</h2>
    <p class="text">
      ミスミスが美しさを競うなら、こっちは面白さで勝負だ!スベっても関係ねえ、恥じらいなんてとっくに捨てた。そんな最高にミスってる男たちが繰り出す、捨て身の笑いのぶつかり合いをとくとご覧あれ!見れば貴方も大爆笑間違いなし!?
  </section>
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/bCx4Eurh2HQ?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>


<div class="stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>早稲Fes1</h2>
    <p class="text">
      今年も文化祭の季節がやってきました。
      <br>今年のステージ企画は、ダンスや歌はもちろん、漫才やオタ芸、和太鼓など様々な演技の披露があります。
      <br>活動が制限される中で自分たちで工夫をし、練習を重ねてきました。
      <br>是非僕らの演技を見てください。
  </section>
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/10UGM90Yn4U?list=PL7EEmMNm89-ae-fl2DCwScgIv7ZGQx2xQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>






</div>


</body>

</style>

</html>
