</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>
<div class="box">

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>このサイトの見方</h2>
      <p class="text">
        このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
    </section>
  </div>
  <div class="contentchild">
    <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
  </div>
  </div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>Restaurantからの脱出</h2>
      <p class="text">
        伝説のシェフ「スズキ」は謎の暗号を残してレストランを去りました。その謎を解いてもらうため、あなた方を私たちのレストランへとご招待いたします。シェフの失踪理由とは何なのか。２０分のストーリー形式。是非お越し下さい。
    </section>
  </div>
  <div class="contentchild">
    <iframe width="644" height="362" src="https://www.youtube.com/embed/ewhEYSbvAtc?list=PL7EEmMNm89-beEqYOOSmRFCBUCnUty6mw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1rU72EzWhjv9YXxlB89N1OegVgZrXKFK2/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>まとざんまい</h2>
    <p class="text">
      最後の興風祭、回転寿司を作ろうと意気込んでいた高２喫茶に飲食物販売禁止のニュースが舞い込んだ!どうにか喫茶のアイデンティティを失わず回転マシーンを生かせないかと考えたのが回転射的!回ってくるお寿司を狙い撃て!
    </section>
    </div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-aDIQM9hSl69f2kk_RTEsKV" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/14NhkbsTW4Sd0cU2iTpMJoP0lHkurmXHN/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>釣り研究同好会</h2>
    <p class="text">
      月に１度東京近場の海や川に釣りにいきます。通常の活動はその釣行の準備やまとめ、ルアーや仕掛け作りなどをしています。毎年の夏には２泊３日程民宿に泊まり込んで釣り合宿をします。上下関係はとても緩く、楽しく活動しています。兼部も可能です。
    </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/QPFB0D85OGA?list=PL7EEmMNm89-ZWzZzm_fNC6MeoZXtBQkZe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1iN_QISGB5IIynfgrUdffuARI3UDyF5J8/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>占いの館</h2>
    <p class="text">
      去年に引き続き有志団体「占いの館」として占いを行いました。残念ながら今年は手相占いができませんでしたが、知識豊富なメンバーがタロット占いを行いました。タロット占いではタロットカードを用いて様々なことを占います。ぜひその様子をご覧ください。
    </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-aQ3U6LSs-TgZ8-qWbSapJo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1WFrWMKUm4wgApGKSoyBdRjv3fFsi84BW/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/iC904A7trE4?list=PL7EEmMNm89-a0nwYrGcn8G0AfQptQQS1b" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>サイクリング部</h2>
    <p class="text">
      私達は、月１回の日帰りのラン、長期休みの２泊３日の合宿、興風祭での展示が主な活動です。普段の部活では車体のメンテナンス、ローラー台を利用したトレーニング等を行っています。小規模な部活なので、部員同士の絆が強く、ゆとりを持った活動が出来ます。
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-afUEaxu26e4KKYwb591RKY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1GEQP0bW_0kuW6kujB1-xflHtgf3rW9nI/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>クイズ研究部</h2>
    <p class="text">
      高校棟３階Ａ組では、普段クイズ研究部が行う早押しクイズの体験を行っています!また、隣のＢ組ではＱさま、東大王などのクイズ番組を再現した企画を、校庭ステージではクイ研と他の部活が早押しクイズでガチバトル!火花を散らす熱い戦いを是非ご覧下さい!
    </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-Zf_ZeOm-oxtdQfO80J-ipR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1mcZ7b3CciBXH4MbOkQYf_uO46y6z7iU8/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/2aOQCbs1_cs?list=PL7EEmMNm89-Zf_ZeOm-oxtdQfO80J-ipR" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

</div>


</body>

</style>

</html>
