</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>中二127お化け屋敷</h2>
      <p class="text">
行方不明事件のあった廃校をテーマにしたお化け屋敷です　謎の少年、黒橋の正体は…　忘れた日記を返すため廃校の奥へ進むその先には数々の恐怖体験があなたを待っています　『DIARY』というタイトルです。消去法で決めました。是非ひと秋の肝試しに。    </section>
  </div>
  <div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/_qC70sw-6qo?list=PL7EEmMNm89-ZRAuTQkt7-NApyu_JtenD3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1LcTGvzZ3zRwBss2mMPL1n_h7v0lIzw2f/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/bNVHYCKlWto?list=PL7EEmMNm89-ZRAuTQkt7-NApyu_JtenD3" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>MGS127</h2>
    <p class="text">
昨年大好評だったメリーゴーランドシューティングを今年もやります!３人乗りで馬に乗って回りながら的を狙い撃つゲームです。去年は多くの方に来ていただき、今年は改良してさらにレベルアップ!グループで競い合えば盛り上がること間違いなしです。</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-aC4fhAWTa7iAD0Sa5lMskh" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1GxRvwmWCWfMybuU6r4eqdX6vN3pKtFvn/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/bM8j1aF2v5Q?list=PL7EEmMNm89-aC4fhAWTa7iAD0Sa5lMskh" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>WASEVEGAS☆127ver.2.0</h2>
    <p class="text">
      カジノ縁日ではブラックジャック・ポーカー・射的・ボウリング・ストラックアウト・かけっこ順位予想ゲームの6つのゲームをやっています。 ルールはとても簡単で、定番なものからオリジナル性のあるゲームがあるので楽しいです。 皆さんぜひ来てください。
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-ZWdGLBVeeow1Uf5ntPvTK3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/15w7koK7ACNZcAJzsIJRWOW_oOdZlR3WG/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>

  <div class="contentchild clubinfo">
    <a href="https://youtu.be/N9MbecUO9Xg?list=PL7EEmMNm89-ZWdGLBVeeow1Uf5ntPvTK3" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>127Tube</h2>
    <p class="text">
日常をカッコよく、バカッコイイ。ガチ勢が作るピタゴラスイッチ。あの怪獣が蘇るレゴ。不可能を可能にする逆再生。あの人気ゲームを作る黒板アート。この５つのチームの最高傑作がここに集結!この瞬間をを見逃すな。</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-aeOCn6QzdWF9JwQJbxyi6l" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1MlltBWSvaqfif2TJgVcVtV8ndAI8bmji/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/yhh87Njglhk?list=PL7EEmMNm89-aeOCn6QzdWF9JwQJbxyi6l" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>127回装飾</h2>
    <p class="text">
こんにちは!１２７回装飾です!　私たち１２７回装飾では、校舎模型の展示や、スタンプラリーの開催などをしています。廊下ではペットボトルアートを飾り、お越しいただいた方に向けた様々なアンケートも実施しております。中学棟４階で待ってます!
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-bMA9BYw_9LxtpgmXvNL7Kj" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1APKZ6oejUGEaaJG7heZfXuxa9LoyVOnj/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/k_Snrerg_Vk?list=PL7EEmMNm89-bMA9BYw_9LxtpgmXvNL7Kj" class="clubcontent"><h2>work</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>早稲田シネマズ</h2>
    <p class="text">
      中３映像早稲田シネマズです!今年は初めて映画制作に挑戦しました。もしかしたらあなたの身にも起こるかもしれない恐ろしいホラーの世界をお楽しみください。また、編集技術を駆使した短編ギャグ映像もあります。絶対に後悔はさせないので是非ご覧ください!
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-b90eJZFKW0ajiTe6b75m6X" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1hRUh8Iq1HzpaUnhWv1pbzn_wHnNzXrfz/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/e4y4fWIGjFg?list=PL7EEmMNm89-b90eJZFKW0ajiTe6b75m6X" class="clubcontent"><h2>work</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部</h2>
    <p class="text">
      普段はバンドごとに活動していて、興風祭やライブハウスでライブをしています!体験入部大歓迎!興風祭の軽音のステージは早稲田１のエネルギーを感じられる場だ。『アツい』とは何かを教えてやる。”Sparkle”のように光り輝く青春を分かち合おうぜ!
  </section>
</div>
<div class="contentchild">
<iframe width="644" height="362" src="https://www.youtube.com/embed/9m0aLuSyO7M?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>


<div class="contentcontainer stcontentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-4us</h2>
    <p class="text">
      中２Aで同じクラスだった友達の間の、「なんかバンドやりてぇ」から始まりました。「フォース」と読みます。for us（私たちのために）for 明日（明日に向けての）force（力）をかけてこの名前です。５人だけど４なの?と言う質問は御法度です。レジェンドです。兄がいました。
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/quLYEtjtDAg?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1JV0EdWSpO_9_bh4-DubcpOdhsEqNli3X/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/dG_MBblwnU0?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-Palm</h2>
    <p class="text">
      palm です!!頑張って練習しました!!なるべくみんなが知ってて、盛り上がりそうな曲を選んで演奏しました!!本番はミスしたとこ
ろもあったと思いますが、頑張ったので目をつぶっていただけると嬉しいです!!
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bp91KEEFVhs?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1Ne5ukEKOzkCZYdqq1nxcA1kOrJAsOgoN/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-Endevaor</h2>
    <p class="text">
      PV 作りました!ライブ映像ではありませんが渾身の出来なのでぜひ見てください!
      <br>夏休みは誰も演奏せず談笑してました(Vo)
      <br>結成当初は軽音侍って名前だった(Gt)
      <br>......(Ba)
      <br>僕以外元サッカー部なのに僕が１番サッカー詳しいです(Dr)
      <br>サッカー部の天下り先です(Key)
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/D9chXjmBgYY?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1C2i8JK88XS1cTL2Oue_CU9BiycC7OV3C/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-AXIA</h2>
    <p class="text">
      AXIA は高校２年生５人で活動しています。僕たちは皆、アニメや漫画が好きで演奏する曲もアニソンやボカロがほとんどです。
      <br>興風祭も終わりましたが解散はせず活動を続けていくのでこれからも応援よろしくお願いします。
  </section>
</div>
<div class="contentchild">
  <iframe width=560 height="315" src="https://www.youtube.com/embed/REy-C0oAGr4?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1ShOre_eUXku0sYRD3qzlo0aFG9guiQGv/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-いちごおれ</h2>
    <p class="text">
      どうも、リーダー兼 Gt.加藤,Vo.桐生,Ba.辻,Key.鈴木,Dr.尾上の５人バンド｢いちごおれ」です。実は今の軽音楽部のなかで 1 番の古参。バンド名はリーダーの好きな飲み物から。他のバンドよりもよく人とコラボをする。コアな人求む。
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3dbqCpMotDE?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1r7eySGa2vD70BjANmsVN0ETwsz0qV4J0/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-Silent Loud Fellows</h2>
    <p class="text">
      silent loud fellows:静かでうるさい仲間たちの意、文法などとうに枯れ果てた世界で活動中。日頃はわちゃわちゃしている気がします。部室の鍵を取りに行く係りを決めるじゃんけんがブーム(仕事の押し付けあい)
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/WmC-NkKKgNs?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1LBDS4JtirFdJxy6qE6fu0Qnohh4Qrt7p/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-東京豊響</h2>
    <p class="text">
      ５人組バンド、東京豊響です!Gt.&Vo.野間、Gt.鈴木、Ba.戸井田、Dr.金、Key.畠山でやってます。モットーは「ゆるく」ですが、本人達は意外と真剣に練習してます。興風祭ライブ来てくれた人ありがとうございました!この"音"は一生忘れません。
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/h7UMe-sbbAU?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1ORtWQAx1vX8kMiyVk1GuZ2gSc9Lpiy3b/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-限界のヲタク</h2>
    <p class="text">
      俺らが【✝限界のヲタク✝】だ。言っとくが俺らの絆は誰にも邪魔されない卍。俺らの｢家族｣になりたかったら右腕に刻印(しるし)を刻んで来るんだな。しかも喧嘩強いから(←何様)家族に手出したらどうなるかわからないからな w(彼女はアスナ似)
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kcyeDxcFH_E?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1qroy54aj1AwOmM0HOqHQ_72R25bzOjtF/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>軽音部-バンド名未定</h2>
    <p class="text">
      みんなで仲良く結成しました!と言いたいところなのですが、バンド名すら未だ決まっていません。でも楽しくやっています!今後もさらに各々のスキルを向上させてライブ出たいってめっちゃ思っているので、ライブ出るときは応援しに来てね!
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/C6VTpyiddfc?list=PL7EEmMNm89-a1rgrJtg0IpbhKiXIlFYuv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1ldww0gTvHfXIqR9xTWN4PWcREuA1Hp-w/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>


</div>


</body>

</style>

</html>
