</<！DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><！--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>中3成果発表</h2>
      <p class="text">
僕たちは中３成果発表です！中３の授業、休校中の成果を発表します。一から作ったDNAの模型や実際に撃てる輪ゴム銃、休校中にまつわることを川柳にした「休校川柳」、「夢のマイホーム」の画を展示しています。是非ご覧ください！    </section>
  </div>
  <div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-ZTSz4zHxG-WMT-6Lh77f5r" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1bS-5DLuhqc3UmwbI051daRzFsPBw3_jf/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/mg5piFzPwbk?list=PL7EEmMNm89-ZTSz4zHxG-WMT-6Lh77f5r" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>



<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>ぴえんにち</h2>
    <p class="text">
僕達は普通の縁日ではなく、今年流行った｢ぴえん｣を取り入れた縁日です。射的、もぐら叩き、ストラックアウト、スーパーボールすくいの４つのゲームで得点を競うという内容になっています。どう｢ぴえん｣を取り入れているのかは動画で確かめてみてください。</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-ZQHDmzeLEUjdT0wvDMp1pJ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1ovgRPw5FI3tIQ6DE9PgL-yG1LIHcke5w/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/jpvfWPoewMw?list=PL7EEmMNm89-ZQHDmzeLEUjdT0wvDMp1pJ" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>かがくであそぼ</h2>
    <p class="text">
てこや滑車などの有名な科学の知識や技術、法則を利用してピタゴラスイッチなど様々なおもちゃを早稲田生が一から制作しました。科学の素晴らしさに触れたり、見たことのないおもちゃで遊んでみたりしませんか?かがくであそぼう！
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-ackLCJtdenxnkn6s7ESUjc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1lLN5aq5CSBjZZrL5zNB8Gm2GHZ8DgoGr/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/mg5piFzPwbk?list=PL7EEmMNm89-ackLCJtdenxnkn6s7ESUjc" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>今すぐ逃げろ</h2>
    <p class="text">
今年は中学３年間での初めての試みとして２つの企画を行います。１つ目は脱出ゲームです。映像を見ながら頭をフルに使い、タイムリミットが迫るスリルを味わって下さい。２つ目は推理型短編映画です。自信のある方は解決編を見る前に謎解きをしてみて下さい。
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-YXGA0jD1_Ak-7VWEmDfLu1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
<div class="contentchild clubinfo">
  <a href="https://drive.google.com/file/d/1vfk2H1g4wbPxV-hSO5MrUxEmjeT0YcCZ/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>将棋部</h2>
    <p class="text">
いきなりですがみなさんは将棋と聞くとどのようなことを思い浮かべるでしょうか?初心者には難しそう…と思う方もいるでしょう。そんなことはありません！基本を覚えて努力すれば必ず上手くなることができます。少しでも興味を持ったら是非いらしてください。
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-YuZLregOsNE6V2BMJevapc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1TQxrnDqirZl2CKjYD88voIYfbsZpE-5d/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
  </div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/UjandB5_okA?list=PL7EEmMNm89-YuZLregOsNE6V2BMJevapc" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

</div>


</body>

</style>

</html>
