</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>地学部</h2>
      <p class="text">
地学部には、天体や化石、鉱物などに興味を持った生徒が集まっています。日帰りで行われる巡検や春休みと夏休みの合宿で鉱物や化石の採集や天文写真の撮影などを行います。興風祭では、地震計や砂防ダムの実験動画や部誌の掲載をオンラインで行います。    </section>
  </div>
  <div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL7EEmMNm89-byfnmJJFQcfNWc3DE_G3-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1fgs3VZZVqUNgqKZUWeRIx8izbcsMJGKy/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/opARH2ZUV8I?list=PL7EEmMNm89-byfnmJJFQcfNWc3DE_G3-8" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>生物園芸部</h2>
      <p class="text">
        生物園芸部では、魚類、爬虫類、両生類、昆虫類などの生物の飼育を行っています。夏には合宿を行い、生物採集や水族館などの生物に関する施設に行ったりしています。先輩、後輩の上下関係を気にしなくていい、アットホームな部活です。
    </section>
  </div>
  <div class="contentchild">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nYk9rAhBuDo?list=PL7EEmMNm89-Yd-TdI7k-Y7bBO_bAbGOj6" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1LOtY5k6Lp8hztDLY8F8IlHiSLw0RLVsm/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/MGUwpYSo4qM?list=PL7EEmMNm89-Yd-TdI7k-Y7bBO_bAbGOj6" class="clubcontent"><h2>virtual</h2></a>
  </div>
</div>


</div>


</body>

</style>

</html>
