</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>
<div class="box">

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>このサイトの見方</h2>
      <p class="text">
        このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
    </section>
  </div>
  <div class="contentchild">
    <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
  </div>
  </div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>劇団針谷</h2>
      <p class="text">
        THE PANDEMIC 妻のリサ、息子のトニーと幸せな日々を送っていた主人公ジャック。ある日正体不明のゾンビウイルスが発生、国中を巻き込むパンデミックが起こってしまう。果たしてジャックは家族や仲間達と生き残ることが出来るのだろうか!?
    </section>
  </div>
  <div class="contentchild">
    <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-bjNdQCM83PE3lx43C5NEsY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1x5iDJT3NG2BhXtdVV-SB0WO7x-sjcJI8/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
<div class="contentchild clubinfo">
  <a href="https://youtu.be/aabauQLPFEU?list=PL7EEmMNm89-bjNdQCM83PE3lx43C5NEsY" class="clubcontent"><h2>活動風景</h2></a>
</div>
</div>



<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>高1劇</h2>
    <p class="text">
      今年は、今流行っている「今日から俺は!!」を基に、オリジナルストーリーを作りました。今年は劇としてではなく、短い映画としてお届けします。ベスト・オブ・ワセダ劇部門を３年連続で取っている力で撮影を頑張ったので、是非見てください!
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-bpnYy7IswLDiJoaccsSLKy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/Et3jMI6aY3g?list=PL7EEmMNm89-bpnYy7IswLDiJoaccsSLKy" class="clubcontent"><h2>活動風景</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>中3演劇</h2>
    <p class="text">
      中３演劇です。一人一人目標をもって稽古を重ねています。【あらすじ】スキー学校で雪山を訪れた早稲田中学校の生徒・教員一同。しかし、教員の一人が雪の中から死体となって発見される。警察によって事故だと判断されるが、明らかに不審な死体…真犯人は誰だ!？
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-aBkQI1Fi1xzYQA8LgFchzK" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1BGVIY-zTMAnsM3Lr-WOhtjX4aL2yiA4j/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/WNZezrX-Gxs?list=PL7EEmMNm89-aBkQI1Fi1xzYQA8LgFchzK" class="clubcontent"><h2>活動風景</h2></a>
  </div>
</div>



<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>劇団１２７季</h2>
    <p class="text">
      過去を変えるためにタイムスリップした博士、半沢、吉野、大門、宇津木の５人。しかし、現代に戻ると博士の昔のライバルが博士が開発したはずのタイムマシンでノーベル賞!?果たして裏切り者は誰なのか?是非ご覧ください。
  </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed?listType=playlist&list=PL7EEmMNm89-Zw4tnIhuWG_LIf3s0jTSk6" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1Umjk3sPaYkR5pc5Xp4n4JcyX3TMZ75dy/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/Zn-rrQUQ7Ec?list=PL7EEmMNm89-Zw4tnIhuWG_LIf3s0jTSk6" class="clubcontent"><h2>活動風景</h2></a>
  </div>
</div>

</div>


</body>

</style>

</html>
