</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

  <div class="contentcontainer">
    <div class="contentchild">
    <section>
      <h2>化学研究部</h2>
      <p class="text">
化学研究部です。普段は超伝導の研究やガラスの研究等の様々な実験をしています。 １年に１回合宿を行い、学園祭について話し合ったり、工場見学等をしながら、交流を深めています。他校との交流もあります。不思議な化学の世界を覗いてみませんか。
    </section>
  </div>
  <div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/wgb7bNhFk5I?list=PL7EEmMNm89-b8sDzpY6fzZX1I6uk_G-Bj" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1LHzTSiIurchEG-nioNKROT_1FCLsZWJD/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/5ltYr5_F7Qg?list=PL7EEmMNm89-b8sDzpY6fzZX1I6uk_G-Bj" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>




</div>


</body>

</style>

</html>
