</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width:600px)" href="../static/css/info_pc.css">
  <link rel="stylesheet" media="(max-width:600px)" href="../static/css/info_mobile.css">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>


<div class="titleneon">
<span>Information</span>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>このサイトの見方</h2>
    <p class="text">
      このページでは各団体の情報をまとめたPDF、PV、３６０°動画、団体独自の動画をまとめております。youtubeの再生リスト機能を活用し、youtubeを開かずに３６０度を除く他の動画を見れるようにしてあります。では、お楽しみください。
  </section>
</div>
<div class="contentchild">
  <img class="picture" src="../static/pictures/messageImage_1604560937585.jpg">
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>囲碁同好会</h2>
    <p class="text">
    こんにちは。囲碁同好会です。普段は対局をメインに活動しています。例年は来て下さった方と打ちながら交流を深めているのですが…今年はオンラインということで動画を撮影しました。少しでも当部に興味を持って、あわよくば入っていただけると嬉しいです。</div>
<div class="contentchild">
<iframe width="483" height="315" src="https://www.youtube.com/embed/FQE-L68y22Q?list=PL7EEmMNm89-bUk7fx0gqSKQklRRQR3k2L" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1dofsJC1wf08ebp9-YvswqMglS-8hqtyU/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/W4WDUOgkEzs?list=PL7EEmMNm89-bUk7fx0gqSKQklRRQR3k2L" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>早稲田山荘（ワンダーフォーゲル部）</h2>
    <p class="text">
      ワンダーフォーゲル?渡り鳥という意味のドイツ語で、端的にいうと山のハイキングの部活です。当部活では山に関する様々なこと、山の紹介(活動報告)、道具解説、写真、興風祭当日に展示した模造紙、穂高連峰特集などを掲載しています。</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ngaatZGUOHk?list=PL7EEmMNm89-YuVjcR3dpe_8FJMyceYmK3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1AZiimzo4uais35G4DxfIksZQLe21-_3w/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/5_bn4rpsdq8?list=PL7EEmMNm89-YuVjcR3dpe_8FJMyceYmK3" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>中1学校紹介</h2>
    <p class="text">
学校紹介では、中１が主に使う教室を校門から仮校舎へ行き中学棟の１階から６階まで、最後に高校棟までを動画で撮ります。教室を紹介するときは写真と字幕で説明します。動画で撮っているので実際に校内をまわっているように感じるということを意識しました。    </section>
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-a2QRR8hyAu2COGXNed9SQl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
<div class="contentchild clubinfo">
  <a href="https://drive.google.com/file/d/1pwy_sg7xOrr-lfUozx5OHQqjp65uUOK_/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>JHS川柳</h2>
    <p class="text">
みなさんはサラリーマン川柳をご存知ですか?僕たちの川柳はその早中生バージョンです。様々な句を劇やクイズなど様々な形で紹介します。入学して半年の僕たちの視点から書いた句を是非、見にいらしてください。　川柳は　つまらないだと⁉　失敬な‼</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-ZnlwFqLsM--CaSdyH_0p8P" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1_7Ww4TFz5COjn8K0mHHiVAvifRVpBhOk/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/XXNDVn2kVWI?list=PL7EEmMNm89-ZnlwFqLsM--CaSdyH_0p8P" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>


<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>中一　時代劇</h2>
    <p class="text">
時は明治２年。大政奉還により世間が混乱する中、海軍副総裁・榎本武揚と、鬼の副長・土方歳三率いる『旧幕府軍』と、黒田清隆率いる『新政府軍』との闘いが、蝦夷共和国・五稜郭を舞台に今、幕を開けようとしていたッ!!</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-Yz7zTuhiTiTYBE7JPb_8xC" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1sC2050xwiDg_3NuV2BFQ4Xr1OH2ADx9h/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>



<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>中1 キャップアート</h2>
    <p class="text">
コロナ禍のなか、皆さまを少しでも応援したいと思い、この作品を作りました。制作の過程でキャップ集めに協力していただいた多くの方々の思いがつまっています。１年生が精一杯作ったキャップアートに早稲田らしさを感じてもらえればうれしいです。同時に、ご覧いただいた皆さまと僕たち一人ひとりの「再出発」に弾みをつけることが出来ますように!</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-YmGybj60wSr5HUFuutuUuA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/19ZPXibKnohuPsSAHblF9J8R7gmO1LaRT/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>筋トレ歌唱</h2>
    <p class="text">
筋トレ歌唱は筋トレを歌唱に合わせて行います。筋トレでは、見た人が真似できるように分かりやすく行い、歌唱では今話題の小関裕二さんが作曲した第二校歌を歌います。自粛期間で鈍った体をこの筋トレで元通りの体にし、私達の美声もぜひ聞いてください。</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-Y0-1S59_GCgZkdtLaEA6Ux" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1MfRsYJqqb2gU4lqHmANogxw6NpEOQ1c6/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/Wyi-aZspiVA?list=PL7EEmMNm89-Y0-1S59_GCgZkdtLaEA6Ux" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>中一装飾団体</h2>
    <p class="text">
中一装飾団体では２号館５階の廊下と階段を華やかに装飾しました。カラフルな輪かざり、トリックアート、オリジナル国旗、早稲田中学に関するクイズ、グルグルと書いた円周率など様々な装飾があります。どのような装飾があるか隅々まで見て楽しんでください。</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-YdWx2NwWQpTE3Av1KTsZVZ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1qti-tS0O6dAXLH7xevnrBic76je5BxaJ/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>早中生の一日</h2>
    <p class="text">
早稲田中学校の生徒が学校の一日でしていることを動画にしてまとめました。入ってみたい人は早稲田生がどんな生活をしているか分かると思うので見てください。　１年生なのでまだ未熟なところもありますが見逃してください。</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-YGaOtcWJ7Gpgej62bjDCyS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1gAGg5L8SszHy5gMFniITLBpGFK-VoWl7/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>自己展示</h2>
    <p class="text">
自己展示というグループは、早稲田中学校の不器用な男たちが、コロナ禍で、残念ながらも集まることができずに苦戦しながらそれぞれの家で、個々で作ったものを展示する場所です。少し覗きに来るだけでもいいので、来てください。</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-YSEjeLsavTHLSjStQdVjsG" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1RdyqfUzx6d-cnnc3ugn7dLpR5Pg4yq5u/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>中1 黒板アート</h2>
    <p class="text">
中１黒板アートでは、トリックアートから早稲田中学校の校門まで、幅広いジャンルを題材とした作品を皆さんにお見せします。作品が完成するまでの過程をまとめた映像もありますので、そちらもお楽しみください。中１黒板アートの集大成をぜひご覧ください!</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-bQLvY0N1cLCDwHiTGoblsQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1Pekkf2s_xpnpFCxfjGEYE3AFzX6lm8gd/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>



<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>早稲田ジャニーズ</h2>
    <p class="text">
      私たちは、ジャニーズの曲に合わせて踊りを披露するグループです。踊りもピアノも興風祭に向けて一生懸命練習してきました。当日は３曲踊ります。なんの曲かは当日のお楽しみです。コロナの影響で規模が縮小されてしまいましたが、どうぞ楽しみにしておいてください。
</div>
<div class="contentchild">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-YH4l9-TpiA0EMpvWwyfrob" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/17pLxhGpkFR2ffMoM-vf2PxKptSb2ZdIc/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
  <div class="contentchild clubinfo">
    <a href="https://youtu.be/c9sykPajnr0?list=PL7EEmMNm89-YH4l9-TpiA0EMpvWwyfrob" class="clubcontent"><h2>360°動画</h2></a>
  </div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>中１アンケート</h2>
    <p class="text">
私たち中１アンケートグループはコロナの影響で同級生と会う機会が少なかったですなので中１を対象としたアンケートを実施しましたどれも一生懸命に作成しましたので是非見て行ってくださいよろしくお願いいたします。
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-YIy1iFLodEohAr6f7i6Ztj" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1csvYP1XnnAnDDyFzitPZklAmrHXuJIKo/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>

<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>特技披露</h2>
    <p class="text">
僕たちの名前はシンプルなので、皆さんはあまり興味がないかもしれません。ですが、僕たちが行う特技は、定番のものから、一風変わった特技もあります。皆さんはどの特技を見ますか?それを決めるのはあなたしだい!!
</div>
<div class="contentchild">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W3AmeLK4pOc?list=PL7EEmMNm89-aePJoyhqCete8VkHUb_Ub3" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/14rsJht7m1ap_tL41G19U2gkl6z_hnuh0/view?usp=sharing" class="clubcontent"><h2>もっと詳しく</h2></a>
</div>
</div>


</body>

</style>

</html>
