</<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Kofu Fes</title>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
  <link rel="stylesheet" media="(min-width: 480px)" href="../static/css/virtual_tablet.css">
  <link rel="stylesheet" media="(min-width: 1025px)" href="../static/css/virtual_pc.css">
  <link rel="stylesheet" media="(max-width: 480px)" href="../static/css/virtual_mobile.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180326097-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180326097-1');
</script>

</head>

<body>

      <div class="menu">
          <span class="menu__line menu__line--top"></span>
          <span class="menu__line menu__line--center"></span>
          <span class="menu__line menu__line--bottom"></span>
    </div>
      <nav class="gnav">
          <div class="gnav__wrap">
              <ul class="gnav__menu">
                <li class="gnav__menu__item"><a href="{{url_for('protected_index')}}">Top</a></li>
                  <li class="gnav__menu__item"><a href="{{url_for('protected_mapjhs')}}">Kofu-Fes</a></li>
                  <li class="gnav__menu__item"><a href="{{url_for('protected_aboutus')}}">About us</a></li>
                  <li class="gnav__menu__item"><a href="{{url_for('protected_virtual')}}">Virtual</a></li>
              </ul>
          </div><!--gnav-wrap-->
      </nav>
      <div class="hero"></div>

<!--
  <div class="entrance">
    <img src="image0.png" class="entranceback">
    <div  class="textop"><span class="kou">興</span><span class="huu">風</span><span class="sai">祭</span></div>
  </div>-->
<div class="titleneon">
<span>Virtual</span>
</div>
<div class="contentcontainer">
  <div class="contentchild">
  <section>
    <h2>Virtual Reality</h2>
    <p class="text">
      今回オンライン興風祭となり、初めての試みとなった３Ⅾモデリング＆３６０度動画撮影です。ゼロからのスタートだったのでガチで大変でしたが、その分素晴らしい出来になっているはずです。ぜひとも体験し、驚いてください!<大川>
</div>
<div class="contentchild">
<img src="../static/pictures/threeD.jpg">
</div>
</div>

<div class="contentcontainer button">
  <div class="contentchild clubinfo">
    <a href="https://drive.google.com/file/d/1CVOB-xmcSpPvw2VnMVKSwdj2-dlSX5iQ/view?usp=sharing" class="clubcontent"><h2>How to use</h2></a>
</div>
</div>

<div class="container2">
  <a href="https://cluster.mu/w/12149a20-3462-4569-95e3-4952d1943905" class="item2">トロッコシューティング</a>
  <a href="https://cluster.mu/w/a809b5ef-bed1-497c-8b9a-a51eec1517ce" class="item2">軽音楽部</a>
  <a href="https://cluster.mu/w/1d622601-a7d1-4913-a100-f8c1b78958b2" class="item2">将棋部</a>
  <a href="https://cluster.mu/w/6457fe98-00c2-490a-a871-32948e2fcafd" class="item2">弓道場</a>
  <a href="https://cluster.mu/w/f8d36f87-7422-4bd8-8ade-cf7775b9e459" class="item2">早稲田山荘</a>
  <a href="https://cluster.mu/w/1e9d013f-b234-4394-9a8f-4fc13ee618bc" class="item2">JHS川柳&自己展示</a>
  <a href="https://cluster.mu/w/b7abc86b-69c7-42c9-a76b-f3545848892f" class="item2">早稲田ジャニーズ</a>
  <a href="https://cluster.mu/w/7f328bc3-6e9c-4a1c-acfa-9d5c241d0231" class="item2">早中生の一日&学校紹介</a>
  <a href="https://cluster.mu/w/99071d1a-3ea0-4223-8d37-8124f270a45d" class="item2">囲碁同好会</a>
  <a href="https://cluster.mu/w/ac4c0e28-204a-4476-9267-ba08f953ee83" class="item2">筋トレ歌唱&特技披露</a>
  <a href="https://cluster.mu/w/f911e2a2-43fa-4891-b15d-370b77a08634" class="item2">MGS127</a>
  <a href="https://cluster.mu/w/5ffb8eb4-29be-42d5-a86c-28c1db388b1c" class="item2">ワセヴェガス</a>
  <a href="https://cluster.mu/w/0cb9b9b9-2ed9-4819-b3ff-a90ee4c5aea0" class="item2">127お化け屋敷</a>
  <a href="https://cluster.mu/w/098a92e1-52cf-4c34-b280-1332c52e6aa1" class="item2">127映像</a>
  <a href="https://cluster.mu/w/1c84769e-4364-4498-b4ae-ad8c0550861c" class="item2">かがくであそぼ</a>
  <a href="https://cluster.mu/w/98ad543a-d125-47d9-9198-0c4b3222f112" class="item2">今すぐ逃げろ</a>
  <a href="https://cluster.mu/w/6e499e3a-335f-47d8-9281-770089713862" class="item2">ぴえんにち①</a>
  <a href="https://cluster.mu/w/c15750b0-ab5c-426c-9663-47c7cb8680d6" class="item2">ぴえんにち②</a>
  <a href="https://cluster.mu/w/74e85142-20ca-4a1e-b596-558165e8a870" class="item2">マジック同好会</a>
  <a href="https://cluster.mu/w/ecea6279-0972-4d86-a3b6-349422f18d3f" class="item2">鉄道研究部</a>
  <a href="https://cluster.mu/w/0235b604-57e4-4b16-b1fa-a09be71350db" class="item2">歴史研究部</a>
  <a href="https://cluster.mu/w/d1d2e036-2788-4c09-955d-59f7488713fd" class="item2">PCP</a>
  <a href="https://cluster.mu/w/b07f6b7d-1fdf-4866-809f-72cf475f61b5" class="item2">英会話同好会</a>
  <a href="https://cluster.mu/w/2bb86f71-46a5-4756-9694-958ed0145158" class="item2">折り紙同好会</a>
  <a href="https://cluster.mu/w/6da48764-2fe2-4d1b-b056-1d58bcb3a524" class="item2">数学研究会</a>
  <a href="https://cluster.mu/w/df9db4f4-320f-4030-8d26-5d7ae7405651" class="item2">サイクリング部</a>
  <a href="https://cluster.mu/w/1279f36a-72a0-494f-9e21-5de938c70d69" class="item2">レストランからの脱出</a>
  <a href="https://cluster.mu/w/e2d71052-a7cf-4fa1-a4ac-3e2804f62d8f" class="item2">クイズ研究部</a>
  <a href="https://cluster.mu/w/82e5d81b-1e89-4820-993c-cd46609c712c" class="item2">地学実験室</a>
  <a href="https://cluster.mu/w/5be0d5c5-5888-40d2-b9ba-d2b676f8ab09" class="item2">渡り廊下</a>
  <a href="https://cluster.mu/w/f4672bce-caee-4e98-b430-1c07db951a17" class="item2">化学部</a>
  <a href="https://cluster.mu/w/f4236e4b-5d65-46fe-bd37-994e06c0626f" class="item2">高1おばけ</a>
  <a href="https://cluster.mu/w/1eec86f1-0921-4672-8d0e-db809b38c1ca" class="item2">高1映像</a>
  <a href="https://cluster.mu/w/4e8fd191-0476-4ed4-8a17-51c3aae07d4c" class="item2">物理研究部</a>
  <a href="https://cluster.mu/w/48b9717f-7d39-404b-9b7e-06a4c26e0bce" class="item2">釣り研</a>
  <a href="https://cluster.mu/w/7b5fcda9-9140-4b42-81eb-a155c8660983" class="item2">模型同好会</a>
</div>



</body>

</style>

</html>
