@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@charset "utf-8";

@media print, screen and (min-width: 480px){
body {
  font-family: Arial, "メイリオ", sans-serif;
  background-color: #202020;
  margin: 0;
}

.contentcontainer {
  display:inline-flex;
  margin: 0 auto;
  margin-left: 50px;
  text-align: left;
  align-content: center;
  width:90%;
  padding-top: 80px;
}



.contentchild{
  padding-top: 20px;
  width:100%;
}

.toppict{
  margin: 0 auto;
  width: 100%;
  margin-top: 40px;
  }

.titleneon{
  text-align:center;
  font-family: 'Vollkorn', serif;
  font-size:180px;
  color:#FF8C00;
  text-shadow: 0 1px 30px #FF7F50;
  margin-bottom: 30px;
}
.titleneon > span {
  -webkit-animation: blink 3s infinite alternate;
    animation: blink 3s infinite alternate;
}
@-webkit-keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

@keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}


h1{
  text-align: center;
  border-bottom:solid 7px #fff;
  font-size:40;
  color: #fff;
  padding-bottom: 13px;
  font-style: italic;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin: 0 auto;
  max-width:90%;
}

h2 {
  text-align: center;
  border-bottom:solid 7px #fff;
  font-size:40;
  color: #fff;
  padding-bottom: 13px;
  font-style: italic;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin: 0 auto;
  margin-left: 10px;
  max-width:80%;
}

h3 {
  text-align: center;
  font-size:40;
  color: #fff;
  padding-bottom: 13px;
  font-style: italic;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin: 0 auto;
  margin-left: 10px;
  max-width:40%;
  border: solid 2px #fff;
}

.clubcontent{
  text-decoration: none;
}

.intro{
  display:block;
  text-align:left;
  padding-top:20px;
  padding-left:30px;
  padding-bottom: 100px;
  padding-right:30px;
  letter-spacing: 0.05em;
  color: #fff;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom:7px;
  font-style: oblique;
  font-family: "Sylfaen";
  font-size:20px;
  width:80%;
  word-wrap: break-word;
}
.text {
  display:block;
  text-align:left;
  padding-top:20px;
  padding-left:0px;
  padding-bottom: 25px;
  padding-right:30px;
  letter-spacing: 0.05em;
  color: #fff;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom:7px;
  font-style: oblique;
  font-family: "Sylfaen";
  font-size:20px;
  width:90%;
  word-wrap: break-word;
}



.pict{

  width:25%;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-right: 10px;
}
iframe{

  width:25%;
  height:25%;
  padding-bottom: 100px;
  margin-top: 20px;
  margin-right: 10px;
}
.picture{
  width:40%;
  height:40%;
}
summary{
  font-size:40px;
  color: #fff;
  margin-left: 50px;
  padding-left:20px;
  border: solid 2px #fff;
}

.act{
  margin-left: 50px;
  margin-bottom: 100px;
}
details[open] .act {
  animation: fadeIn 0.5s ease;

}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.zadankai{

  width:1000px;
  height:400px;

  margin-top: 20px;
  margin-right: 10px;
}

footer {
  min-height: 40px;
  background-color: #424142;
  text-align: center;
  padding-top: 18px;
  margin-top: 20px;
  width: 100%;
  bottom: 0;
}

small {
  color: #ffffff;
}

.info{
  font-family: 'Sawarabi Mincho', sans-serif;
  color: #fff;
  text-decoration: underline;
}


/*menu*/
.menu{
    height: 20px;/*menubar size*/
    width: 30px;/*menubar size*/
    position: fixed;/*menubar position*/
    right: 20px;/*menubar position*/
    top: 20px;/*menubar position*/
    z-index: 99;/*menubar 一番手前側に配置*/
    cursor: pointer;/*カーソルを指の形に変更*/
}
.menu__line{
    background: #fff;/*bar color*/
    display: block;/*https://saruwakakun.com/html-css/basic/display*/
    height: 2px;/*bar thickness*/
    position: absolute;/*絶対位置*/
    width: 100%;/*棒の長さ*/
    transition-duration: .1s;
}
.menu__line--center{
    top: 9px;/*棒の位置*/
        transition-duration: .1s;
}
.menu__line--bottom{
    bottom: 0;/*下の棒の位置*/
        transition-duration: .1s;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);/*上の棒の挙動*/
}
.menu__line--center.active{
    transform:scaleX(0);/*真ん中の棒の挙動*/
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);/*下の棒の挙動*/
}
/*gnav*/
/*箱*/
.gnav{
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}

.gnav__menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    list-style: none;
}
.gnav__menu__item{
    margin: 40px 0 40px 100px;
    opacity: 0;
}
.gnav__menu__item a{
	  color: #fff;
    font-size: 2em;
    font-weight: bold;
	  text-decoration: none;
    transition:.5s;/*黒く変わるまで*/
}
.gnav__menu__item a:hover{
    color: #525252
}
}
