@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@charset "utf-8";

@media print, screen and (max-width: 480px){
  html{
    height: 100%;
  }
  body {
    font-family: Arial, "メイリオ", sans-serif;
    background-color: #202020;
    margin:auto;
    height: 100%;
  }
  .titleneon{
    text-align:center;
    font-family: 'Vollkorn', serif;
    padding-top: 25px;
    font-size:60px;
    color:#FF8C00;
    text-shadow: 0 1px 30px #FF7F50;
    margin-bottom:120px;
    width:100%;
  }
  .titleneon > span {
    -webkit-animation: blink 3s infinite alternate;
      animation: blink 3s infinite alternate;
  }
  @-webkit-keyframes blink {
    40% {
      opacity: .85;
    }
    42% {
      opacity: .4;
    }
    43% {
      opacity: .85;
    }
    45% {
      opacity: .4;
    }
    46% {
      opacity: .85;
    }
  }

  @keyframes blink {
    40% {
      opacity: .85;
    }
    42% {
      opacity: .4;
    }
    43% {
      opacity: .85;
    }
    45% {
      opacity: .4;
    }
    46% {
      opacity: .85;
    }
  }


.class{
  min-height: 100vh;
  position: relative;/*←相対位置*/
}

  footer {
    position:absolute;
    min-height: 40px;
    background-color: #424142;
    text-align: center;
    padding-top: 18px;
    margin-top: 20px;
    width: 100%;
    bottom:0;
  }

  small {
    color: #ffffff;
  }


  /*menu*/
  .menu{
      height:20px;/*menubar size*/
      width:20px;/*menubar size*/
      position: fixed;/*menubar position*/
      right: 20px;/*menubar position*/
      top: 20px;/*menubar position*/
      z-index: 99;/*menubar 一番手前側に配置*/
      cursor: pointer;/*カーソルを指の形に変更*/
  }
  .menu__line{
      background: #fff;/*bar color*/
      display: block;/*https://saruwakakun.com/html-css/basic/display*/
      height: 2px;/*bar thickness*/
      position: absolute;/*絶対位置*/
      width: 100%;/*棒の長さ*/
      transition-duration: .1s;
  }
  .menu__line--center{
      top: 9px;/*棒の位置*/
          transition-duration: .1s;
  }
  .menu__line--bottom{
      bottom: 0;/*下の棒の位置*/
          transition-duration: .1s;
  }
  .menu__line--top.active{
      top: 8px;
      transform: rotate(45deg);/*上の棒の挙動*/
  }
  .menu__line--center.active{
      transform:scaleX(0);/*真ん中の棒の挙動*/
  }
  .menu__line--bottom.active{
      bottom: 10px;
      transform: rotate(135deg);/*下の棒の挙動*/
  }
  /*gnav*/
  /*箱*/
  .gnav{
      background: rgba(0,0,0,0.8);
      display: none;
      height: 100%;
      position: fixed;
      width: 100%;
      z-index: 98;
  }
  .gnav__wrap{
      align-items:center;
      display: flex;
      height: 100%;
      position: absolute;
      width: 100%;
  }

  .gnav__menu{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 170px;
      list-style: none;
  }
  .gnav__menu__item{
      margin: 40px 0 40px 100px;
      opacity: 0;
  }
  .gnav__menu__item a{
  	  color: #fff;
      font-size:30;
      font-weight: bold;
  	  text-decoration: none;
      transition:.5s;/*黒く変わるまで*/
  }
  .gnav__menu__item a:hover{
      color: #525252
  }

h1{
  text-align: center;
  color:#fff;
  font-family: 'Vollkorn', serif;
  margin:40px;
  font-size:20;
}

.text {
  background: #323232;
  width: 80%;
  height:345px;
  color: #fff;
  text-decoration: none;
  border-radius:5px;
}
.text a{
  color: #fff;
}

h3 {
  font-size: 50px;
  text-align: center;
  margin: 30px;
  font-family: Arial;
  font-style:italic;

}

p{
  text-align: center;
  font-size: 25px;
  font-family: Arial;
  margin-top: 50px;
}

.pict {
  width: 30%;
  margin-left:0;

}

.pict img {
  width: 100%;
  height:auto;
}

.box:nth-child(even) {
  flex-direction: row-reverse;
}
.box:nth-child(even) .text {
  text-align: right;
  background-color: #d3d3d3;
  color:#000;


}
.box:nth-child(even) .pict {
  margin-left: 0;
  margin-right:0;
}

img.gray {
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}
img.gray:hover {
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0);
-ms-filter: grayscale(0);
-o-filter: grayscale(0);
filter: grayscale(0);
}





}
