@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@charset "utf-8";
@media print, screen and (max-width: 600px){

body {
  font-family: Arial, "メイリオ", sans-serif;
  background-color: #202020;
  margin: 0;
}
.titletop{
  text-align:center;
  font-family: 'Vollkorn', serif;
  padding-top: 20px;
  font-size:55px;
  color:#FF8C00;
  text-shadow: 0 1px 30px #FF7F50;
  margin-bottom: 40px;
  width:100%;
}
.titletop > span {
  -webkit-animation: blink 3s infinite alternate;
  animation: blink 3s infinite alternate;
}
@-webkit-keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

@keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}



footer {
  min-height: 40px;
  background-color: #424142;
  text-align: center;
  padding-top: 18px;
  margin-top: 20px;
  width: 100%;
  bottom: 0;
}

small {
  color: #ffffff;
}

/*menu*/
.menu{
    height: 20px;/*menubar size*/
    width: 30px;/*menubar size*/
    position: fixed;/*menubar position*/
    right: 20px;/*menubar position*/
    top: 20px;/*menubar position*/
    z-index: 99;/*menubar 一番手前側に配置*/
    cursor: pointer;/*カーソルを指の形に変更*/
}
.menu__line{
    background: #fff;/*bar color*/
    display: block;
    height: 2px;/*bar thickness*/
    position: absolute;/*絶対位置*/
    transition-duration: .1s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
}
/*gnav*/
.gnav{
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}
.gnav__menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    list-style: none;
}
.gnav__menu__item{
    margin: 40px 0 40px 100px;
    opacity: 0;
}
.gnav__menu__item a{
	  color: #fff;
    font-size: 2em;
    font-weight: bold;
	  text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #525252
}

.container{
  display:flex;
  justify-content:center;
  height: auto;
  align-items:center;
  width:100%;
  flex-wrap: wrap;
  margin-bottom:30px;

}
.item{
  background-color: #fff;
  list-style: none;
  margin: 3px;
  width:100px;
  height:80px;
  padding:10px;
  padding-top:40px;
  border-radius:5px;
  text-align: center;
  text-decoration: none;
}

.container div:nth-child(2n){
  font-size:25px;
  font-weight:800;
  background-color: #323232;
  color: #fff;
}

.container div:nth-child(2n-1){
  font-size:25px;
  font-weight:800;
  color:#000;
}
.container div{
  transition: all 200ms 0s ease;
}
.container div:hover{
  transform: scale(1.03);
}

.flexcontainer{
    margin-bottom:10px;
    display:flex;
    justify-content: center;
    height:auto;
    align-items:center;
    width:100%;
    flex-wrap: wrap;
}

.child{
  list-style: none;
  margin: 10px;
  width:120px;
  padding-bottom:50px;
  height:40px;
  border-radius:5px;
  text-align: center;
  font-size:30px;
  text-decoration: none;
  background-color: #202020;
  color:#FFa500;
  font-weight:600;
}

.main {
  -webkit-animation: blink 3s infinite alternate;
  animation: blink 3s infinite alternate;
  text-shadow: 0 1px 40px #FF7F50;
  color:#FF7F00;
}
@-webkit-keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

@keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

.container2{
  display:flex;
  justify-content:center;
  height: auto;
  align-items:center;
  width:100%;
  flex-wrap: wrap;
  margin-bottom:100px;
}
.item2{
  background-color: #fff;
  list-style: none;
  margin: 3px;
  width:100px;
  height:80px;
  padding:10px;
  padding-top:40px;
  border-radius:5px;
  text-align: center;
  text-decoration: none;
}


.container2 a:nth-child(2n-1){
  font-size: 25px;
  font-weight:800;
  background-color: #323232;
  color: #fff;
}

.container2 a:nth-child(2n){
  font-size: 25px;
  font-weight:800;
  color:#000;
}

.container2 a{
  transition: all 200ms 0s ease;
}
.container2 a:hover{
  transform: scale(1.07);
}


.name{
  font-family: "Monotype Corsiva";
  text-align: center;
  font-size: 110px;
  color: #fff;
}

.contentcontainer {
  display:inline-flex;
  margin: 0 auto;
  padding-top: 30px;
  margin:40px;
  max-width: 70%;
  text-align: left;
  align-content: center;
}
.contentchild{
  margin-right:40px;
}

h2 {
  text-align: center;
  font-size: 20;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 13px;
  font-style: italic;
  font-family: "はんなり明朝";
  margin: 0 auto;
  max-width:90%;
}

h3{
  text-align: center;
  font-size:20;
  color: #fff;
  font-style: italic;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin: 0 auto;
  max-width:30%;
  border: solid 2px #fff;
}

.formcontent{
  text-decoration: none;
}

.anke{
  margin-bottom: 100px;
}

.howbtn{
  text-align: center;
  font-size:20;
  font-weight:1000;
  color: #fff;
  font-style: italic;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin: 0 auto;
  max-width:60%;
  border: solid 2px #fff;
  border-radius: 5px;
}

.guide {
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      background: rgba(0,0,0,0.9);
      width: 100%;

  }
  .guide img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: 80%;
    text-align: center;
  }
.over {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba(0,0,0,0.9);
    }

.over img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 90%;
  text-align: center;
}
}
