@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@charset "utf-8";

@media print, screen and (max-width: 480px){

body {
  font-family: Arial, "メイリオ", sans-serif;
  background-color: #202020;
  margin:auto;
}
.contentcontainer{
  display:flex;
  flex-direction: column;
}

.contentchild{
  width: 100%;
  margin-bottom: 20px;
}
.button{
  flex-direction: row;
  margin-bottom: 20px;
}



img{
  width:80%;
  height:auto;
  margin-left: 35px;
}


h2 {
  text-align: left;
  border-bottom:solid 3px #fff;
  font-size:25;
  color: #fff;
  font-style: italic;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin: 0 auto;
  margin-left:15px;
  width:93%;
  margin-top:5px;
}

.text {
  text-align:left;
  letter-spacing: 0.05em;
  color: #fff;
  margin-top: 5px;
  margin-left: 28px;
  margin-bottom:10px;
  font-style: oblique;
  font-family: "Sylfaen";
  font-size:20;
  display:block;
  width:85%;
  word-wrap: break-word;
}


.titleneon{
  text-align:center;
  font-family: 'Vollkorn', serif;
  padding-top: 25px;
  font-size:40px;
  color:#FF8C00;
  text-shadow: 0 1px 30px #FF7F50;
  margin-bottom: 30px;
  width:100%;
}
.titleneon > span {
  -webkit-animation: blink 3s infinite alternate;
    animation: blink 3s infinite alternate;
}
@-webkit-keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

@keyframes blink {
  40% {
    opacity: .85;
  }
  42% {
    opacity: .4;
  }
  43% {
    opacity: .85;
  }
  45% {
    opacity: .4;
  }
  46% {
    opacity: .85;
  }
}

.clubinfo{
  position: relative;
  margin-bottom:60px;
}

.clubcontent{
  position: absolute;
  left:30%;
  font-size: 40;
  color: #fff;
  font-style: italic;
  font-family: 'Sawarabi Mincho', sans-serif;
  margin: 0 auto;
  text-shadow:0 1px 30px #fefefe;
  text-decoration: none;

}
.clubcontent h2{
    border-bottom:none;
}

footer {
  min-height: 40px;
  background-color: #424142;
  text-align: center;
  padding-top: 18px;
  margin-top: 20px;
  width: 100%;
  bottom: 0;
}

small {
  color: #ffffff;
}
.container2{
  margin-left:  15px;
  margin-right: 15px;
  margin-top: 50px;
  display:flex;
  justify-content: center;
  height: 150px;
  align-items: flex-end;
  flex-wrap:wrap;
}
.item2{
  background-color: #fff;
  list-style: none;
  margin: 3px;
  width:60px;
  height:60px;
  padding: 50px;
  border-radius:5px;
  text-align: center;
  font-size: 70px;
  text-decoration: none;
}
.container2 a{
  font-size:16px;
  font-weight:900;
  color:#000;
}

.container2 a:nth-child(4n+1){
  font-size: 16px;
  font-weight:900;
  background-color: #323232;
  color: #fff;
}

.container2 a:nth-child(4n){
  font-size: 16px;
  font-weight:900;
  background-color: #323232;
  color: #fff;
}


.container2 a{
  transition: all 200ms 0s ease;
}
.container2 a:hover{
  transform: scale(1.07);
}


/*menu*/
.menu{
    height:20px;/*menubar size*/
    width:20px;/*menubar size*/
    position: fixed;/*menubar position*/
    right: 20px;/*menubar position*/
    top: 20px;/*menubar position*/
    z-index: 99;/*menubar 一番手前側に配置*/
    cursor: pointer;/*カーソルを指の形に変更*/
}
.menu__line{
    background: #fff;/*bar color*/
    display: block;/*https://saruwakakun.com/html-css/basic/display*/
    height: 2px;/*bar thickness*/
    position: absolute;/*絶対位置*/
    width: 100%;/*棒の長さ*/
    transition-duration: .1s;
}
.menu__line--center{
    top: 9px;/*棒の位置*/
        transition-duration: .1s;
}
.menu__line--bottom{
    bottom: 0;/*下の棒の位置*/
        transition-duration: .1s;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);/*上の棒の挙動*/
}
.menu__line--center.active{
    transform:scaleX(0);/*真ん中の棒の挙動*/
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);/*下の棒の挙動*/
}
/*gnav*/
/*箱*/
.gnav{
    background: rgba(0,0,0,0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
}

.gnav__menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    list-style: none;
}
.gnav__menu__item{
    margin: 40px 0 40px 100px;
    opacity: 0;
}
.gnav__menu__item a{
	  color: #fff;
    font-size:30;
    font-weight: bold;
	  text-decoration: none;
    transition:.5s;/*黒く変わるまで*/
}
.gnav__menu__item a:hover{
    color: #525252
}
}
